@mixin screen_tiny {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin screen_mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin screen_tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

.dialog {
  width: auto;
  padding: 18px 18px 32px 18px;
  border: none;
  max-width: 100%;
  margin-bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transform: scale(0);
  scrollbar-width: thin;
  @media screen and (min-width: 450px) {
    margin: auto;
    border-radius: 10px;
    max-width: 400px;
  }
  &__closeBtn {
    width: 25px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    @include screen_tiny {
      width: 28px;
    }
    @include screen_mobile {
      width: 30px;
    }
    @include screen_tablet {
      width: 32px;
    }
    & i {
      font-size: 15px;
      width: 15px;
      @include screen_tiny {
        font-size: 18px;
      }
      @include screen_mobile {
        font-size: 20px;
      }
      @include screen_tablet {
        font-size: 22px;
      }
    }
  }
  &__content {
    margin: 0;
    width: 100%;
  }
  &__title {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--title-font);
    text-align: center;
    @include screen_tiny {
      font-size: 18px;
    }
    @include screen_mobile {
      font-size: 20px;
    }
    @include screen_tablet {
      font-size: 24px;
    }
  }
  &__subtitle {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--title-font);
    text-align: center;
    padding-bottom: 32px;
    @include screen_tiny {
      font-size: 16px;
    }
    @include screen_mobile {
      font-size: 18px;
      padding: 20px 0 40px 0;
    }
    @include screen_tablet {
      font-size: 20px;
    }
  }
  &__description {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    font-family: var(--body-font);
    text-align: center;
    padding-bottom: 32px;
    @include screen_tiny {
      font-size: 14px;
    }
    @include screen_mobile {
      font-size: 16px;
      padding-bottom: 40px;
    }
    @include screen_tablet {
      font-size: 18px;
    }
    // Link Nina Carducci
    &__link {
      text-decoration: underline;
    }
  }
  &__email {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--title-font);
    text-align: center;
    padding-bottom: 16px;
    @include screen_tiny {
      font-size: 16px;
    }
    @include screen_mobile {
      font-size: 18px;
    }
    @include screen_tablet {
      font-size: 20px;
    }
  }
  &__contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-bottom: 42px;
    &__copy-btn {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 12px;
      @include screen_tiny {
        font-size: 14px;
      }
      @include screen_mobile {
        font-size: 16px;
      }
      @include screen_tablet {
        font-size: 18px;
      }
      &__content {
        font-family: var(--body-font);
        font-size: 12px;
        @include screen_tiny {
          font-size: 14px;
        }
        @include screen_mobile {
          font-size: 16px;
        }
        @include screen_tablet {
          font-size: 18px;
        }
      }
    }
    &__mail-btn {
      width: 12px;
      font-size: 12px;
      @include screen_tiny {
        width: 14px;
        font-size: 14px;
      }
      @include screen_mobile {
        width: 16px;
        font-size: 16px;
      }
      @include screen_tablet {
        width: 18px;
        font-size: 18px;
      }
    }
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 16px;
    &__item {
      &:hover {
        scale: 1.05;
      }
      &__link {
        font-size: 24px;
      }
    }
  }
}
dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: end;
  transform: scale(1);
  animation: scaleUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.copy-message {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 8px;
  font-size: 12px;
  transform: scaleX(0);
  transition: all 0.3s;
  @include screen_tiny {
    font-size: 14px;
    padding: 12px;
    bottom: 16px;
    right: 16px;
  }
  @include screen_mobile {
    font-size: 16px;
  }
  @include screen_tablet {
    font-size: 18px;
  }
  & i {
    padding-right: 8px;
    font-size: 10px;
    @include screen_tiny {
      font-size: 12px;
    }
    @include screen_mobile {
      font-size: 14px;
    }
    @include screen_tablet {
      font-size: 16px;
    }
  }
}
.active {
  transform: scale(1);
  transition-delay: 0s;
}

@keyframes scaleUpModal {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}

// Modal for project
.dialog-project {
  height: 100%;
  @include screen_tiny {
    height: 85%;
  }
  @media (min-width: 450px) {
    height: 60%;
  }
  @include screen_mobile {
    height: 75%;
    max-width: 500px;
  }
  &__demo-iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 16px auto;
    &::after {
      content: "";
      display: none;
      height: 15px;
      background: linear-gradient(to right, #000, #fff, #000);
      border-radius: 0 0 10px 10px;
      @media (min-width: 450px) {
        display: block;
        width: 400px;
      }
      @include screen_mobile {
        width: 500px;
      }
    }
  }
  &__demo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 0;
    margin-bottom: 32px;
    border: 20px solid black;
    border-radius: 20px;
    &__src {
      width: 100%;
      height: 100%;
    }
  }
  &__links {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-top: 16px;
    &__link {
      font-size: 14px;
      font-weight: 600;
      font-family: var(--body-font);
      text-align: center;
      padding: 8px 12px;
      min-width: 90px;
      border-radius: 20px;
      @include screen_mobile {
        font-size: 16px;
      }
      @include screen_tablet {
        font-size: 18px;
      }
    }
  }
}

[data-project-img] {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-lang {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
