@mixin screen_tiny {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin screen_mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin screen_tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  &__title {
    font-family: var(--title-font);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    @include screen_tiny {
      font-size: 18px;
    }
    @include screen_mobile {
      font-size: 20px;
    }
    @include screen_tablet {
      font-size: 24px;
    }
  }
  &__catchphrase {
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    @include screen_tiny {
      font-size: 16px;
    }
    @include screen_mobile {
      font-size: 18px;
    }
    @include screen_tablet {
      font-size: 20px;
    }
  }
  &__listSpecialtie {
    padding-top: 8px;
    font-family: var(--body-font);
    font-size: 13px;
    list-style: inside;
    letter-spacing: 1px;
    font-weight: 300;
    @include screen_tiny {
      font-size: 15px;
    }
    @include screen_mobile {
      font-size: 17px;
    }
    @include screen_tablet {
      font-size: 19px;
    }
  }
  &__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px 0;
    @include screen_mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 26px;
    }
    @include screen_tablet {
      gap: 30px;
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    @include screen_tiny {
      max-width: 400px;
      gap: 20px;
    }
    @include screen_mobile {
      max-width: 500px;
      gap: 24px;
    }
    @include screen_tablet {
      max-width: 600px;
      gap: 30px;
    }
    &__title {
      font-family: var(--title-font);
      font-size: 16px;
      @include screen_tiny {
        font-size: 18px;
      }
      @include screen_mobile {
        font-size: 20px;
      }
      @include screen_tablet {
        font-size: 24px;
      }
    }
    &__list {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      .logo {
        width: 60px;
        @include screen_tiny {
          width: 80px;
        }
        @include screen_mobile {
          width: 100px;
        }
        @include screen_tablet {
          width: 120px;
        }
        & img {
          width: 100%;
          object-fit: cover;
        }
      }
      & i {
        font-size: 60px;
        @include screen_tiny {
          font-size: 80px;
        }
        @include screen_mobile {
          font-size: 100px;
        }
        @include screen_tablet {
          font-size: 120px;
        }
      }
    }
  }
}
