@mixin screen_mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}

.switchTheme {
  background-color: transparent;
  i {
    font-size: 15px;
    @include screen_mobile {
      font-size: 18px;
    }
  }
}
