#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}
.main-content {
  border-radius: 8px;
}

[data-theme="light"] {
  .main-content {
    background-color: var(--main-light);
  }
  .switchTheme {
    i {
      color: var(--color-light);
    }
  }
}

[data-theme="dark"] {
  .main-content {
    background-color: var(--main-dark);
  }
  .switchTheme {
    i {
      color: var(--color-dark);
    }
  }
}
