@mixin screen_tiny {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin screen_mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin screen_tablet {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px;
}
.main-content {
  border-radius: 8px;
}

.separator {
  width: 100px;
  border: 1.5px solid black;
}

.section-container {
  &__catchphrase {
    font-family: var(--body-font);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    @include screen_tiny {
      font-size: 16px;
    }
    @include screen_mobile {
      font-size: 18px;
    }
    @include screen_tablet {
      font-size: 20px;
    }
  }
  &__listSpecialtie {
    padding-top: 8px;
    font-family: var(--body-font);
    font-size: 13px;
    list-style: inside;
    letter-spacing: 1px;
    font-weight: 300;
    @include screen_tiny {
      font-size: 15px;
    }
    @include screen_mobile {
      font-size: 17px;
    }
    @include screen_tablet {
      font-size: 19px;
    }
  }
}

[data-theme="light"] {
  .main-content {
    background-color: var(--main-light);
  }
  .switchTheme {
    i {
      color: var(--color-light);
    }
  }
  .banner {
    &__middle {
      &__profilePicture {
        &__picture {
          border: 2px solid #dcbc9f;
        }
      }
      &__contactBtn {
        background: var(--button-light);
        color: var(--color-light);
      }
    }
  }
  .linkedinBtn {
    color: var(--color-light);
  }
  .separator {
    border: 1.5px solid var(--color-light);
  }
}

[data-theme="dark"] {
  .main-content {
    background-color: var(--main-dark);
  }
  .switchTheme {
    i {
      color: var(--color-dark);
    }
  }
  .banner {
    &__middle {
      &__profilePicture {
        &__picture {
          border: 2px solid #614a39;
        }
      }
      &__contactBtn {
        background: var(--button-dark);
        color: var(--color-dark);
      }
    }
  }
  .linkedinBtn {
    color: var(--color-dark);
  }
  .separator {
    border: 1.5px solid var(--color-dark);
  }
}
